#footer{
    background-color: var(--footer1);
}
#footer h5{
    margin-bottom: 1.5rem;
    color: var(--default-color);
}
#footer .line{
    border-bottom: 1px solid rgba(198, 198, 198, 0.534);
    transition: all 0.3s;
    cursor: pointer;
}
#footer .last-line{
    transition: all 0.3s;
    cursor: pointer;
}
#footer .line:hover, .last-line:hover{
    transform: translateX(10px);
}
#footer p{
    color: #797979;
}
#footer .t-r-p{
    border-bottom: 1px solid rgba(198, 198, 198, 0.534);
}
#footer img{
    border: 1px solid rgba(198, 198, 198, 0.534);
}
#footer .starss .star{
    font-size: 12px;
    color: var(--color-secondary2);
}
#footer .c-details{
    display: flex;
    align-items: center;
}
#footer .c-details-line{
    border-bottom: 1px solid rgba(198, 198, 198, 0.534);
}
#footer .c-details p{
    margin: 0;
    margin-left: 1rem;
}
#footer .c-details .details-icon{
    color: #797979;
}
.mailto a{
    text-decoration: none;
    color: #797979;
}
#rights{
    background-color: var(--footer);
    color: #797979;
}
#rights .social{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.7rem;
    cursor: pointer;
    transition: all 0.3s;
}
#rights .social:hover a{
    color: white;
}
#rights .social:first-of-type:hover{
    background-color: rgb(24, 24, 97);
}
#rights .social:nth-of-type(2):hover{
    background-color: orangered;
}
#rights .social:nth-of-type(3):hover{
    background-color: rgb(28, 28, 209);
}
#rights .social:last-of-type:hover{
    background-color: rgb(41, 130, 248);
}
#rights .social a{
    text-decoration: none;
    color: #797979;
}
#rights .social .social-icon{
    padding: 10px
}